/* responsive for small devises from 0 to 576px */
@media screen and (max-width: 576px){
    /* transparent header */
    header{
        width: calc(100% - 50px);
    }
    /* navigation column section */
    .nav-col{    
        width: 50px;
    }  
    /* first section of the nav */
    .logo-container img{
        display: none;
    }
    .logo-container #xs-img{
        display: block;
        width: 100%;
        height: 40px;
        object-fit: contain;
        margin-top: 10px;
    }
    .main-nav-container{
        padding: 0;
    }    
    .adjacent-icon-formatting {
        justify-content: center;
    }
    .main-nav-container .search-nav .adjacent-icon-formatting img{
        margin: 0;
    }
    .main-nav-container .search-nav .adjacent-icon-formatting span{
        display: none;
    }
    .playlist-nav{
        display: none;
    }
    .bottom-nav{
        position: absolute;
        bottom: 0;
    }
    .bottom-nav .adjacent-icon-formatting i {
        padding: 0;
    }
    .bottom-nav .adjacent-icon-formatting span{
        display: none;
    }
    .bottom-nav .adjacent-icon-formatting img {
        margin: 0;
    }
    .bottom-nav .divider{
        visibility: hidden;
    }
    /* section with albums */
    .main-albums{
        width: calc(100% - 50px);
        background-color: green;
        margin-left: 50px;
        margin-bottom: 60px;
    }
    /* section footer */
    .left-player .adjacent-icon-formatting{
        justify-content: flex-start;
        margin: 0;
    }
    .left-player .adjacent-icon-formatting img{
        padding: 5px;
        height: 60px;
        margin: 0;
    }
    
}