/* responsive for small devises from 0 to 576px */
@media screen and (max-width: 600px){
    /* transparent header */
    header{
        width: calc(100% - 50px);
    }
    .upgrade-btn{
        margin-right: 10px;
    }
    /* navigation column section */
    .nav-col{    
        width: 50px;
    }  
    /* first section of the nav */
    .logo-container{
        width: 100%;
        margin-right: 0;
    }
    .logo-container img{
        display: none;
    }
    .logo-container #xs-img{
        display: inline-block;
        width: 100%;
        height: 40px;
        object-fit: contain;
        margin-top: 10px;
        margin-right: 0;
    }
    .main-nav-container{
        padding: 0;
        align-items: center;
    }    
    .adjacent-icon-formatting {
        justify-content: center;
    }
    .main-nav-container .search-nav .adjacent-icon-formatting img{
        margin: 0;
    }
    .main-nav-container .search-nav .adjacent-icon-formatting span{
        display: none;
    }
    .playlist-nav{
        display: none;
    }
    .bottom-nav{
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
    }
    .bottom-nav .adjacent-icon-formatting i {
        padding: 0;
    }
    .bottom-nav .adjacent-icon-formatting span{
        display: none;
    }
    .bottom-nav .adjacent-icon-formatting img {
        margin: 0;
    }
    .bottom-nav .divider{
        visibility: hidden;
    }
    
    /* section footer */
    .left-player .adjacent-icon-formatting{
        justify-content: flex-start;
        margin: 0;
    }
    .left-player .adjacent-icon-formatting img{
        padding: 5px;
        height: 60px;
        margin: 0;
    }
    /* section with albums */ 
    .main-albums{
        width: calc(100% - 50px);
        margin-left: 50px;
        margin-bottom: 60px;
    }   
    .main-albums ul{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .main-albums ul li{
        padding: 6px 10px;
    }
    .main-albums .row {
        align-items: flex-start;
    }    
    .main-albums .row .album-container{
        display: inline-block;
        width: calc(100% / 2 - 50px);
    }
    .main-albums .row .album-container h2 {
        margin: 15px 0 0;
    }
    .main-albums span {
        display: inline-block;
        margin: 5px 0 5px;
    }
    .main-albums .row{
        margin-bottom: 20px;
    }
}
/* responsive for small devises from 0 to 768px */
@media screen and (max-width: 700px){
/* section with albums */ 
    .main-albums ul{
        flex-wrap: wrap;
        margin-bottom: 80px;
    }
    .main-albums ul li{
        padding: 6px 10px;
    }
    .main-albums .row {
        align-items: flex-start;
    }    
    .main-albums .row .album-container{
        display: inline-block;
        width: calc(100% / 2 - 50px);
    }
    .main-albums .row .album-container h2 {
        margin: 15px 0 0;
    }
    .main-albums span {
        display: inline-block;
        margin: 5px 0 5px;
    }
    .main-albums .row{
        margin-bottom: 20px;
    }  
}
/* responsive for small devises from 0 to 992px */
@media screen and (min-width: 700px) and (max-width: 1100px){
    .main-albums ul{
        flex-wrap: wrap;
        margin-bottom: 50px;
    }
    .main-albums ul li{
        padding: 6px 10px;
    }
    .main-albums .row .album-container{
        display: inline-block;
        width: calc(100% / 4 - 50px);
    }
}