/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules */
body{
    width: 100%;
}
/* transparent header */
header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    min-height: 60px;
    width: calc(100% - 200px);
    background-color: rgba(00, 00, 00, 0.4);
}
/* main section container */
.main-col{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;  
    max-height: calc(100vh - 60px);
    min-width: 40vh;
    background-color: red;
    overflow-y:scroll;
}
/* navigation column section */
.nav-col{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 200px;
    min-height: calc(100vh - 60px);
    align-items: flex-start;
    background-color: orange;
}
.logo-container{
    display: inline-block;
    width:100%;
    height: 60px;    
    padding: 5px 20px;
    padding-right: 30px;
}
.nav-col.logo-container> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-left-col{
    margin-left: 20px;
    width: calc(100% - 25px);
}
.search-nav{
    width: 100%;
    margin-top: 15px;
}
.nav-col ul{
    list-style: none;
}
.nav-col ul li img{
    width: 20px;
}
/* section with albums */
.main-albums{
    display: flex;
    min-width: calc(100% - 200px);
    min-height: 200vh;
    align-items: initial;
    background-color: green;
    margin-left: 200px;
}
/* footer section */
footer{
    display: flex;
    min-height: 60px;
    background-color: blue;
}