/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules */
body{
    width: 100%;
}   

/* transparent header */
header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    min-height: 60px;
    width: calc(100% - 200px);
    background-color: rgba(00, 00, 00, 0.4);
}
/* main section container */      
main{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60px;
    background-color: red;
    overflow-y: auto;
}     

/* navigation column section */
.nav-col{    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;   
    width: 200px;
    bottom: 60px;
    background-color: orange;
}
.main-nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
/* first section of the nav */
.logo-container{
    display: inline-block;
}
#xs-img{
    display: none;
}
.search-nav{
    width: 100%;
    margin-top: 10px;
    align-self: flex-start;
}
.nav-col ul{
    list-style: none;
}
.nav-col .search-nav .adjacent-icon-formatting img{
    width: 25px;
    margin-right: 10px;
}
/* second section of the nav */
.playlist-nav{
    width: 100%;
    flex-grow: 1;
    overflow: hidden;      
}
.playlist-nav> h3{
    margin: 20px 0 10px;
}
.adjacent-icon-formatting{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.adjacent-icon-formatting i{
    font-size: 40px;
    padding-right: 10px;
}
.playlist-nav .playlist-scroll{
    overflow-y: auto;
    height: calc(100% - 92px);
}
.playlist-nav ul li{
    padding: 5px 0;
}

.plus-sign{
    font-weight: 700;
    font-size: 26px;
    background-color: white;
    padding: 0 5px;
    margin-right: 5px;
}
/* bottom part of the nav */
.bottom-nav{
    width: 100%;
    margin-bottom: 10px;
}
.divider,
.bottom-nav .adjacent-icon-formatting{
    width: 100%;
}
.divider{
    border-bottom: 1px solid grey;
    padding: 5px 0 0;
    margin-bottom: 5px;
}
.bottom-nav .adjacent-icon-formatting i{
    font-size: 15px;
    padding-right: 10px;
}
.bottom-nav .adjacent-icon-formatting img{
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-name{
    font-weight: 700;
}

/* section with albums */
.main-albums{
    width: calc(100% - 200px);
    background-color: green;
    margin-left: 200px;
    margin-bottom: 60px;
}
/* footer section */
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    min-height: 60px;
    width: 100%;
    background-color: blue;
    z-index: 4;
}