/* reset rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general rules */
body{
    width: 100%;
}
/* transparent header */
header{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    min-height: 60px;
    width: 80%;
    background-color: rgba(00, 00, 00, 0.4);
}
/* main section container */
.main-col{
    display: flex;
    justify-items: flex-start;
    align-items: flex-start;  
    max-height: calc(100vh - 60px);
    min-width: 40vh;
    background-color: red;
    overflow:scroll;
}
.nav-col{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    min-width: 20%;
    min-height: calc(100vh - 60px);
    align-items: initial;
    background-color: orange;
}
.main-albums{
    display: flex;
    min-width: 80%;
    height: 200vh;
    align-items: initial;
    background-color: green;
    margin-left: 20%;
    overflow-y: scroll;
}
/* footer section */
footer{
    display: flex;
    min-height: 60px;
    background-color: blue;
}